{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshops</title>
     <link rel="stylesheet" href="{% static 'background.css' %}">
    <link rel="stylesheet" href="{% static 'workshops.css' %}">
        <link rel="stylesheet" href="{% static 'courseobj.css' %}">
    <style>
         .lmain{display: inline-block;
            width: 23%; }
        .rmain{display: inline-block;
            width: 23%; }
        .cmain{display: inline-block;
            width:50%; }
        table, th, td {


} .lcontact{display: inline-block;
            width: 50%; }
        .rcontact{display: inline-block;
            width: 49%;
       }
        .contact{display: inline-block;
            width:100%; }
    </style>
</head>
<body>
<div class="main">
<div align="center" class="lmain" ><img alt="College Logo" src="{% static 'logo.png' %}" width="120px" height="120px"></div>
    <div align="center" class="cmain"><h2>Anurag Group of Institutions</h2><h1 style="color: blue" >IOT Club</h1></div>
    <div align="center" class="rmain"><img alt="Club Logo" src="{% static 'Iot.png' %}" width="80px" height="90px"/></div>
</div>

<div class="lnk" align="right" style="padding-right:30px; ">
       <a href="../">homepage</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../course">Course objectives</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../workshops" >Workshops organised</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../achievements">achievements</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../corebody">corebody</a>&nbsp&nbsp&nbsp&nbsp
   <a href="../projects">projects</a>&nbsp&nbsp&nbsp&nbsp
        <a href="../actionplan">Action Plan</a>&nbsp&nbsp&nbsp&nbsp
</div>
<h2 class="chead" align="center">IoT Club Action Plan (2019-20)</br>
I, II & III B.Tech I & II Semester
</h2>
<table style="width:80%" align="center">
    <tr>
    <th align="left">S.No</th>
    <th align="left">Name of the Event</th>
    <th align="left">Resource Person</th>
    <th align="center">Tentative Dates</th>
    <th align="center">Target Audeince</th>
  </tr>
  <tr>
    <td align="left">1</td>
    <td align="left">Training on Raspberry Pi</td>
    <td align="left">Ms.Ayushi jain</td>
    <td align="center">15.06.2019</td>
    <td align="center">III - I </td>
  </tr>
<tr>
    <td align="left">2</td>
    <td align="left">Training on Developing Web Site in Python</td>
    <td align="left">Mr.A.Sumanth kumar</td>
    <td align="center">22.06.2019</td>
    <td align="center">IV – I </td>
  </tr>
    <tr>
    <td align="left">3</td>
    <td align="left">Training on MIT App</td>
    <td align="left">Mr.A.Nikhil</td>
    <td align="center">29.06.2019</td>
    <td align="center">II – I </td>
  </tr>
        <tr>
    <td align="left">4</td>
    <td align="left">Trainiing on Aurduino</td>
    <td align="left">Mr.V.Abhinav</td>
    <td align="center">06.07.2019</td>
    <td align="center">II - I </td>
  </tr>
     <tr>
    <td align="left">5</td>
    <td align="left">Training on IoT</td>
    <td align="left">Mr.Uthej Kumar</td>
    <td align="center">01.08.2019</td>
    <td align="center">I – I </td>
  </tr>
    <tr>
    <td align="left">6</td>
    <td align="left">Training on Raspberyy Pi</td>
    <td align="left">Ms.Ayushi Jain</td>
    <td align="center">07.12.2019</td>
    <td align="center">I - II</td>
  </tr>
   <tr>
    <td align="left">7</td>
    <td align="left">Training on Developing Web Site in Python</td>
    <td align="left">Mr.A.Sumanth kumar</td>
    <td align="center">21.12.2019</td>
    <td align="center">II – II </td>
  </tr>


</table>

<h3 class="s1">Outcome:</h3>
<p>1.	Develop IoT Application using Raspberry Pi</p>
<p>2.	Develop Web Site in Python Programming</p>
<p>3.	Develop Mobile App for IoT Application</p>
<p>4.	Develop IoT Application using Aurdino</p>
<p>5.	Develop a project in IoT.</p>
<div class="contact">
<div class="lcontact" align="center">
    <p>Address</p>
   <p>Anurag Group of Institutions</p>
   <p>Venkatapur, Ghatkesar,</p>
   <p>Medchal (Dist.), Hyderabad,</p>
  <p>Telangana, INDIA - 500 088</p>
</div>
    <div class="rcontact" align="center">
        <p>Contact Details</p>
        <p>Mr. G. Balram:</p>
        <p>9492064511</p>
        <p>balaramcse@cvsr.ac.in</p>
    </div>
</div>

</body>
</html>