{% load static from staticfiles %}
<html>
<head>
    <title>Corebody</title>
    <link rel="stylesheet" href="{% static 'background.css' %}">
    <style>
        .leftheader{display: inline-block;
            width: 50%;}
        .Rightheader{display: inline-block;
            width: 48%;}
        .lmain{display: inline-block;
            width: 23%; }
        .rmain{display: inline-block;
            width: 23%; }
        .cmain{display: inline-block;
            width:50%; }
         .lcontact{display: inline-block;
            width: 50%; }
        .rcontact{display: inline-block;
            width: 49%;
       }
        .contact{display: inline-block;
            width:100%; }



    </style>

</head>
<body>
<div class="main">
<div align="center" class="lmain" ><img alt="College Logo" src="{% static 'logo.png' %}" width="120px" height="120px"></div>
    <div align="center" class="cmain"><h2>Anurag Group of Institutions</h2><h1 style="color: blue" >IOT Club</h1></div>
    <div align="center" class="rmain"><img alt="Club Logo" src="{% static 'Iot.png' %}" width="80px" height="90px"/></div>
</div>

<div class="lnk" align="right" style="padding-right:30px; ">
    <a href="../">homepage</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../course">Course objectives</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../workshops" >Workshops organised</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../achievements">achievements</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../corebody">corebody</a>&nbsp&nbsp&nbsp&nbsp
   <a href="../projects">projects</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../Reports">Reports</a>&nbsp&nbsp&nbsp&nbsp
        <a href="../actionplan">Action Plan</a>&nbsp&nbsp&nbsp&nbsp
</div>

</div>


<h2 class="chead" align="center">Faculty Coordinator</h2>
<div > <div align="center" class="leftheader" ><img src="{% static 'balram.JPG' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>G. Balram</h3></div>
</div>
<h2 class="chead" align="center">Core Body</h2>

<table style="width:80%" align="center">
    <tr>
    <th align="right"></th>
    <th align="center" style="color: blue"><h2>Name</h2> </th>
    <th align="center" style="color: blue"><h2>Designation</h2></th>
  </tr>
  <tr>
    <td align="right"><img src="{% static 'anisha.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Ms. Anisha</h3></td>
    <td align="center"><h3>President</h3></td>
  </tr>
    <tr>
    <td align="right"><img src="{% static 'Naveen.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Mr. TVVS. Naveen</h3></td>
    <td align="center"><h3>Vice president education and training</h3></td>
  </tr>
    <tr>
    <td align="right"><img src="{% static 'Shashank.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Mr. B. Shashank</h3></td>
    <td align="center"><h3>vice president membership</h3></td>
  </tr>
    <tr>
    <td align="right"><img src="{% static 'tarun.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Mr. J. Tarun</h3></td>
    <td align="center"><h3>Vice president public relationship</h3></td>
  </tr><tr>
    <td align="right"><img src="{% static 'praneeth.jpeg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Mr. N. Praneeth</h3></td>
    <td align="center"><h3>Secretary</h3></td>
  </tr><tr>
    <td align="right"><img src="{% static 'Ramyasree.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Mr. N. Ramya Sree</h3></td>
    <td align="center"><h3>Treasurer</h3></td>
  </tr><tr>
    <td align="right"><img src="{% static 'Veda.jpeg' %}" width="70px" height="80px" style="border-radius:50%; "></td>
    <td align="center"><h3>Ms. A. veda</h3></td>
    <td align="center"><h3>Event Hospitality</h3></td>
  </tr>
</table>









<h2 class="chead" align="center">Core Body 2018-2019</h2>

<div >
<div align="center" class="leftheader" ><img src="{% static 'uthej.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>N.Uthej Kumar</h3></div>
</div>
<div >
<div align="center" class="leftheader" ><img src="{% static 'sumanth.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>A.Sumanth Kumar</h3></div>
</div>
<div >
<div align="center" class="leftheader" ><img src="{% static 'nikhil.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>A.Nikhil</h3></div>
</div>
<div >
<div align="center" class="leftheader" ><img src="{% static 'vignesh.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>Vignesh</h3></div>
</div>
<div >
<div align="center" class="leftheader" ><img src="{% static 'ayushi.jpg' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>Ayushi</h3></div>
</div>
<div >
<div align="center" class="leftheader" ><img src="{% static 'abhinav.JPG' %}" width="70px" height="80px" style="border-radius:50%; "></div>
<div align="center" class="Rightheader"><h3>V.Abhinav</h3></div>
</div>
<br/>
<div class="contact">
<div class="lcontact" align="center">
    <p>Address</p>
   <p>Anurag Group of Institutions</p>
   <p>Venkatapur, Ghatkesar,</p>
   <p>Medchal (Dist.), Hyderabad,</p>
  <p>Telangana, INDIA - 500 088</p>

</div>
    <div class="rcontact" align="center">
        <p>Contact Details</p>
        <p>Mr. G. Balram:</p>
        <p>9492064511</p>
        <p>balaramcse@cvsr.ac.in</p>
    </div>
</div>>


</body>
</html>