{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshops</title>
     <link rel="stylesheet" href="{% static 'background.css' %}">
    <link rel="stylesheet" href="{% static 'reports.css' %}">

    <style>
         .lmain{display: inline-block;
            width: 23%; }
        .rmain{display: inline-block;
            width: 23%; }
        .cmain{display: inline-block;
            width:50%; }
        table, th, td {


} .lcontact{display: inline-block;
            width: 50%; }
        .rcontact{display: inline-block;
            width: 49%;
       }
        .contact{display: inline-block;
            width:100%; }
        .head{
            color: blue;
            td-size: large;
        }
    </style>
</head>
<body>
<div class="main">
<div align="center" class="lmain" ><img alt="College Logo" src="{% static 'logo.png' %}" width="120px" height="120px"></div>
    <div align="center" class="cmain"><h2>Anurag Group of Institutions</h2><h1 style="color: blue" >IOT Club</h1></div>
    <div align="center" class="rmain"><img alt="Club Logo" src="{% static 'Iot.png' %}" width="80px" height="90px"/></div>
</div>

<div class="lnk" align="right" style="padding-right:30px; ">
       <a href="../">homepage</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../course">Course objectives</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../workshops" >Workshops organised</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../achievements">achievements</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../corebody">corebody</a>&nbsp&nbsp&nbsp&nbsp
   <a href="../projects">projects</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../Reports">Reports</a>&nbsp&nbsp&nbsp&nbsp
        <a href="../actionplan">Action Plan</a>&nbsp&nbsp&nbsp&nbsp
</div>


<table align="left">
<h2 align="center">Report on “IOT Challenge-2019” Workshop</h2>
    <tr><td ><h3>Event Name:</h3></td><td>Internet of Things</td></tr>
<tr><td ><h3>Date:</h3></td><td>17/08/2018</td></tr>
<tr><td ><h3>Duration:</h3></td><td>9:30 AM to 3:30 PM</td></tr>
<tr><td ><h3>Branch:</h3></td><td> Computer Science Engineering</td></tr>
<tr><td ><h3>Year:</h3></td><td>IV B. Tech I SEM</td></tr>
<tr><td ><h3>Participants:</h3></td><td>Students from various colleges across Hyderabad</td></tr>
<tr><td><h3>Resource Person:</h3></td><td>Amritansh Ranjan</td></table>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<h3>Objectives:</h3>
<p>Through the concept of IoT, value of sensor (e.g. temperature sensor, motion sensor, accelerometer sensor etc.) will be shown on GUI or web server or android application through wireless communication and device will be controlled automatically.Device will be operated on WIFI.</p>
<h3>Advantages of Workshop:</h3>
<p> There will be teams of 4, and there will be a selection process during the last day of the workshop, and the top 5 teams from the workshop will get a chance to participate in the final hackathon conducted at IIT Bombay, which is to be held on 17th March, 2019</p>
<h3>Software:</h3>
<p> AVR Studio 6</p>
<h3>Training Activities:</h3>
<p> Introductory session which gave details about the internet of things and the various micro controllers and their peripherals. Covers basic programming concepts with practical hands-on practical sessions.

Session2 was focused on the WiFi module and how to configure their AT commands and using it for monitoring sensors in real time. And finally it concluded with a project based on complete IoT based smart home.
</p>
<h3>Feedback:</h3>
<p> Workshop was evaluated by the active feedback and response given by the students at the end of the session.</p>
<h3>Conclusion:</h3>
<p>Internet of Things is a new revolution of the Internet. A world where the real, digital and the virtual are converging to create smart environments that make energy, transport, cities and many other areas more intelligent. A device become a smart device is called IOT. Now a days there are many android and server based application.</p>
<img src="{% static 'IOTCHALLENGE1 (1).png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'IOTCHALLENGE1 (2).png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'IOTCHALLENGE1 (3).png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'IOTCHALLENGE1 (4).png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'IOTCHALLENGEIITBOMBAY.jpg' %}" width="250px" height="250px">
<h2 align="center">Report   for the Four Day Training on Internet of Things</h2>

<table align="left">

    <tr><td ><h3>Event Name:</h3></td><td>Internet of Things</td></tr>
<tr><td ><h3>Venue:</h3></td><td>D-Block English lab-1</td></tr>
<tr><td ><h3>Dates:</h3></td><td>2nd ,3rd ,4th ,6th May, 2019</td></tr>
<tr><td ><h3>Total Participants:</h3></td><td>43</td></tr>
<tr><td ><h3>Year:</h3></td><td>IV B. Tech I SEM</td></tr>
<tr><td ><h3>Duration total:</h3></td><td>4 Days</td></tr>
<tr><td><h3>Resource Persons:</h3></td><td>Mr G. Balaram, Ms. Ayushi, Mr. A. Sumanth Kumar, Mr. A.Nikhil, Mr. Uttej</td></table>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<h3>Introduction  </h3><p>The document on hand is a narration of the detail the events and proceedings of the training on Internet of Things that was conducted by IoT Club for the 2nd year II Semester students, cse department. The whole session lasted for four days. The training was organized to.</p>
<h3>Time Schedule</h3><p>The four day training was conducted based on department consideration that the student should not be away from work for four full days. This was also important because of the fact that six active graduated students involved   training for two days in overall operation. With this the training was conducted on 2nd , 3rd ,4th  and 6th of May, 2019. Each day the session would start at 9:00 am and end at 16:30 pm. Each day there was an hour lunch break at 1:00 pm daily.</p>
<h3>Training goal</h3><p>The main objective behind the training on IOT is to get the delegates learn the essential ins and outs of managing a IoT project – from start to end and what’s in between. Along with that, students needed to understand what to focus when managing their work, specially the projects they work on. That is, being from individual team members to the team itself to the task on hand.</p>
<h3>Training Contents:</h3>
<ol type="1">
  <li>Introduction to IoT</li>
  <li>Ultrasonic and IR sensors</li>
  <li>DTH11, LED, LDR sensors</li>
  <li>Arduino board</li>
  <li>NodeMCU ESP-8266 Wifi module</li>
  <li>Single and tri colour LEDs</li>
  <li>Pycharm  (python 3.8)</li>
  <li>Raspberry pi model 3 introduction</li>
  <li>Firebase developer </li>
    <li>MIT app inventor</li>
</ol>
<h3>Training Procedures</h3>
<h3 style="color: green">DAY 1</h3>
<p>In brief the training session started with introduction of IoT with the participants. There was a brief introduction about IoT use cases and importance by Balram which had questions and was aimed at analyzing the student existing knowledge of the subject matter and how much they already know about some of the topics which are to be discussed in the training. The trainer, Explained about Ultrasonic, IR, led Sensors, Arduino and connections between arduino and sensors by coding.</p>

<h3 style="color: green">DAY 2</h3>
<p>Day 2 started with Ldr sensor which sense the absence and presence of light and explained about NodeMCU ESP-8266 which is used to provide Wifi, it is Wifi module and firebase website.</p>
<h3 style="color: green">DAY 3</h3>
<p>The training session started with introduction to MIT app inventor and students built an  app to operate Wifi using phone. Explained about pycharm python and how to handle NodeMCU with python.</p>
<h3 style="color: green">DAY 4</h3>
<p>The training session started with explaining about raspberrypi, code for html to provide front page, NodeMCU ESP-8266 Wifi module and create, store data in Firebase and connect Firebase to code with host, key of Frebase account.</p>
<img src="{% static 'Balramtraining.png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'AyushiTraining.png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'SumanthTraining.png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'NikhilTraining.png' %}" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{% static 'UttejTraining.png' %}" width="250px" height="250px">
<br/><br/><br/><br/>
<div class="contact">
<div class="lcontact" align="center">
    <p>Address</p>
   <p>Anurag Group of Institutions</p>
   <p>Venkatapur, Ghatkesar,</p>
   <p>Medchal (Dist.), Hyderabad,</p>
  <p>Telangana, INDIA - 500 088</p>

</div>
    <div class="rcontact" align="center">
        <p>Contact Details</p>
        <p>Mr. G. Balram:</p>
        <p>9492064511</p>
        <p>balaramcse@cvsr.ac.in</p>
    </div>
</div>

</body>
</html>